<form name="form1" #form1="ngForm" (ngSubmit)="doSave()">

<!-- Article START-->
<article class="post" id="post{{i}}">

  <header class="post-header">
    <h2 *ngIf="IsEdit" class="post-title">
        <input type="text" name="title" style="width: 100%" [(ngModel)]="item.title" required #title="ngModel">
        <div class="alert alert-danger" [hidden]="title.valid || title.pristine">
          請填寫文章標題</div>
    </h2>
    <h2 *ngIf="!IsEdit" class="post-title">
        <a href="{{item.href}}">{{item.title}}</a>
    </h2>
    <div class="post-info clearfix">
      <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>{{item.date|date:'yMMdd'}}</span>
      <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="http://blog.miniasp.com/author/will.aspx">{{item.author}}</a></span>
      <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a href="http://blog.miniasp.com/category/Visual-Studio.aspx">{{item.category}}</a></span>
      <span class="post-date">{{datasvc.keyword}}</span>
    </div>
  </header>

  <section *ngIf="IsEdit" class="post-body text">
    <textarea cols="70" rows="10" name="summary" [(ngModel)]="item.summary" required
      #summary="ngModel"></textarea>
    <div class="alert alert-danger" [hidden]="summary.valid || summary.pristine">請務必填寫內容</div>
    <div>
      Valid: {{summary.valid}} v.s. {{summary.invalid}} <br>
      Pristine: {{summary.pristine}} v.s. {{summary.dirty}}<br>
      Touched: {{summary.touched}} v.s. {{summary.untouched}}<br>
      Errors: {{summary.errors|json}}
    </div>
    <div>
      Valid: {{form1.form.valid}} v.s. {{form1.form.invalid}} <br>
      Pristine: {{form1.form.pristine}} v.s. {{form1.form.dirty}}<br>
      Touched: {{form1.form.touched}} v.s. {{form1.form.untouched}}
    </div>
    <input type="submit" [disabled]="form1.form.invalid" value="儲存">
  </section>

  <section *ngIf="!IsEdit" class="post-body text" (dblclick)="IsEdit=true"
    [innerHTML]="item.summary">
  </section>

  <a href="#" (click)="datasvc.deleteArticle(i)">Delete</a>

  <!--<pre>{{item|json}}</pre>-->
</article>
<!-- Article END-->

</form>
